@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ebebeb ;
}

.principal-container {
  display: grid; 
  grid-template-columns: 380px auto; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 
}
